extends ../../demo/_template

block title
    | KR-Form

block style
    style.
        #my-form {
            max-width:750px;
            margin: 0 auto;
        }

block example
    form#my-form.kr-form(method='post', action='https://www.klickrhein.de/form/kr-kontakt.php')
        input(type='hidden', name='subject', value='Der Betreff')
        input(type='hidden', name='required', value='firstname, lastname')
        .pure-g.pure-padded-children-halved
            .pure-u-1.pure-u-sm-1-2.kr-form-item-text
                label(for='firstname') Firstname
                input#firstname(type='text', name='firstname')
            .pure-u-1.pure-u-sm-1-2.kr-form-item-text
                label(for='lastname') Lastname
                input#lastname(type='text', name='lastname')
            .pure-u-1.pure-u-sm-1-4.kr-form-item-text
                label(for='plz') PLZ
                input#plz(type='number', name='plz')
            .pure-u-1.pure-u-sm-3-4.kr-form-item-text
                label(for='street') Straße
                input#street(type='text', name='street')
            .pure-u-1.kr-form-item-select
                label(for='favname') Lieblingsname:
                select#favname(name='favname')
                    option(value='') bitte wählen
                    optgroup(label='Weiblich')
                        option Anne
                        option Doris
                        option Angelika
                    optgroup(label='Männlich')
                        option Bert
                        option Christoph
                        option Emil
                        option Frank
            .pure-u-1.kr-form-item-textarea
                label(for='message') Ihre Nachricht
                textarea#message(name='message', cols='30', rows='10')
            .pure-u-1.kr-form-item-select
                label(for='id') Test Empfänger:
                select#id(name='id')
                    option(value='4') felix@heidecke.me (ID: 4)
                    option(value='1') info@klickrhein.de (ID: 1)
            .pure-u-1.pure-u-sm-1-2.kr-form-item-clicker
                label(for='agb')
                    input#agb(type='checkbox', name='agb')
                    | Ich habe die AGB gelesen und akzeptiert.
            .pure-u-1.pure-u-sm-1-2.h-text-right
                button(type='submit').kr-button Abschicken

block additional
    h2 SCSS
    code.
        $form-enabled               : 'true'; // Formular SCSS Code aktivieren / deaktiveren

        $form-element-border        : 1px solid #bfbfbf;
        $form-item-color            : #333;

        $form-label-color           : #808080;
        $form-label-background-color: #e6e6e6;

        $form-label-text-color      : $form-label-color;
        $form-label-textarea-color  : $form-label-color;
        $form-label-clicker-color   : $form-label-color;

    h2 JavaScript
    code.
        $("#my-form").krForm({
            textOnLoading : "Sendet",   // Button Text beim laden
            textOnError   : "<strong>Ein Fehler ist aufgetreten!</strong><br>Bitte füllen Sie alle mit einem * markierten Felder aus!",
            textOnSuccess : "<strong>Vielen Dank für Ihre Nachricht.</strong><br>Wir setzen uns in Kürze mit Ihnen in Verbindung"
        });

block script
    script.
        $('#my-form').krForm();
