@if $form-enabled == "true" {
    $el: ".#{$prefix}form";

    #{$el} {
        div[class^="pure-u-"] {
            position: relative;
            box-sizing: border-box;
        }

        textarea {
            resize: vertical;
            min-height: 100px;
        }

        input[type="submit"] {
            @extend .kr-button;

            &[disabled] {
                display: none;
            }
        }

        &-item-text {
            display: flex;
            align-items: stretch;
            margin-bottom: $grid-spacing / 2;

            label {
                @include OpenSans;

                padding: 5px 10px;
                background-color: $form-label-background-color;
                border: $form-element-border;
                border-bottom-left-radius: 3px;
                border-top-left-radius: 3px;
                color: $form-label-text-color;
                white-space: nowrap;

                + input {
                    width: 100%;
                    padding: 5px 10px;
                    border: $form-element-border;
                    border-bottom-right-radius: 3px;
                    border-top-right-radius: 3px;
                    border-left: 0;
                    outline: none;
                    min-width: 20px;
                    background-color: white;
                    color: $form-item-color;

                    &[disabled] {
                        color: gray;
                        background-color: lightgray;
                    }
                }
            }
        }

        &-item-textarea {
            margin-bottom: $grid-spacing / 2;

            label {
                @include OpenSans;

                padding: 5px 0 0 10px;
                background-color: transparent;
                color: $form-label-textarea-color;
                position: absolute;

                + textarea {
                    width: 100%;
                    border: $form-element-border;
                    border-radius: 3px;
                    outline: none;
                    padding: 32px 9px;
                    background-color: white;
                    color: $form-item-color;

                    &[disabled] {
                        color: gray;
                        background-color: lightgray;
                    }
                }
            }
        }

        &-item-clicker {
            margin-bottom: $grid-spacing / 2;

            label {
                @include OpenSans;

                position: relative;
                padding: 5px 10px 5px 0;
                color: $form-label-clicker-color;
                cursor: pointer;
                display: flex;
                align-items: center;

                input {
                    margin-right: 10px;
                }
            }
        }

        &-item-select {
            display: flex;
            align-items: stretch;
            margin-bottom: $grid-spacing / 2;

            label {
                @include OpenSans;

                padding: 5px 10px;
                background-color: $form-label-background-color;
                border: $form-element-border;
                border-bottom-left-radius: 3px;
                border-top-left-radius: 3px;
                color: $form-label-text-color;
                white-space: nowrap;
            }

            select {
                position: relative;
                background-color: white;
                width: 100%;
                padding: 5px 10px 5px 9px;
                border: $form-element-border;
                border: {
                    bottom: {
                        right-radius: 3px;
                        left-radius: 0;
                    };
                    top: {
                        right-radius: 3px;
                        left-radius: 0;
                    };
                    left: 0;
                };
                outline: none;
                -webkit-appearance: none;
                -moz-appearance: none;

                &, option {
                    color: $form-item-color;
                }

                &[disabled] {
                    color: gray;
                    background-color: lightgray;
                }
            }
        }

        &-alert {
            position: fixed;
            z-index: 999;
            padding: $grid-spacing;
            border-radius: 6px;
            top: 50%;
            left: 50%;
            display: none;
            transform: translate(-50%, -50%);
            box-shadow: 0 0 50px rgba(black, 0.25);

            &-close {
                position: absolute;
                top: 0;
                right: 0;
                padding: 13px 10px 17px 15px;
                cursor: pointer;
            }

            @include breakpoint("xs") {
                left: $grid-spacing;
                right: $grid-spacing;
                transform: translate(0, -50%);
            }


            &.-success {
                background-color: lighten($alert-success-color, 33.333%);
                color: $alert-success-color;
                border: 1px solid $alert-success-color;
            }

            &.-error {
                background-color: lighten($alert-error-color, 33.333%);
                color: $alert-error-color;
                border: 1px dotted $alert-error-color;
            }
        }
    }
}