$el: ".#{$prefix}button";

// Requires FontAwesome
@mixin button-fa($content, $position:'left', $text-offset:32px) {
    position: relative;

    @if ($position == "left") {
        padding-left: $text-offset;

        &:before {
            font-family: FontAwesome ,sans-serif;
            position   : absolute;
            left       : 12px;
            content    : $content;
        }
    } @else 
    if ($position == 'right') {
        padding-right: $text-offset;

        &:after {
            font-family: FontAwesome, sans-serif;
            position   : absolute;
            right      : 12px;
            content    : $content;
        }
    }
}

#{$el} {
    white-space     : nowrap;
    vertical-align  : middle;
    text-align      : center;
    cursor          : pointer;
    user-select     : none;
    box-sizing      : border-box;
    display         : inline-flex;

    font-family     : inherit;
    padding         : 4px 12px;
    color           : $button-color;
    border          : 1px solid $button-border-color;
    background-color: $button-background-color;
    text-decoration : none;
    border-radius   : 3px;
    transition      : all .25s;

    &:focus,
    &:hover {
        color           : $button-color;
        background-color: darken($button-background-color, 5%);
        box-shadow      : 0 0 3px rgba(black, .5);
    }

    &-next {
        @extend #{$el};
        @include button-fa("\f101", "right");
    }

    &-back {
        @extend #{$el};
        @include button-fa("\f100");
    }

    &-pdf {
        @extend #{$el};
        @include button-fa("\f1c1", 'left', 36px);
    }

    &-loading {
        @extend #{$el};
        @include button-fa("\f021", 'left', 36px);

        &:before {
            @include ani-spin()
        }
    }
}
