$grid-spacing           : 20px;
$viewport               : $grid-spacing * 64;

// = 1280px

$font-size              : 16px;
$line-height            : 26px;

$c-light                : #fff;
$c-gray                 : lighten(black, 50%);
$c-dark                 : lighten(black, 20%);

$button-background-color: #E6E6E6;
$button-border-color    : #999;
$button-color           : $c-gray;

$anchor-color           : $c-dark;
$anchor-hover-color     : $c-gray;

@import "../boilerplate/boilerplate.scss";