# --- Sass/SCSS ----------------------------------------------------------------

.sass-cache/
*.css.map

# --- Node ---------------------------------------------------------------------

node_modules/
npm-debug.log


# --- Boilerplate --------------------------------------------------------------

temp/
backup/
htdocs/*
src/boilerplate/build
!/htdocs/index.php