extends ../../demo/_template

block title
    | KR-Scroll To (smooth scroll)

block style
    style.
        #preview {
            max-width: 500px;
            margin: 0 auto;
        }

block example

    p.hint Bitte runter scollen!
    h1(style="margin:10vh 0")#erste Hier Headline mit ID #erste
    h2(style="margin:10vh 0").zweite Hier Subline mit Klasse .zweite

    div(style="height:60vh")
        // Abstandhalter

    .h-text-center
        h2 Standard scrolling
        ul.demo-normal
            li
                a(href="#", data-kr-scroll-to="#erste") &uarr; Scrolle zu #erste
            li
                a(href="#", data-kr-scroll-to=".zweite") &uarr; Scrolle zu .zweite

        h2 Mit Optionen
        p
            a.demo-langsamer-mit-offset(href="#", data-kr-scroll-to="#erste") &uarr; Scrolle langsamer zu #erste mit Offset
block additional
    hr
    h2 JavaScript
    code.
        $('.demo-normal li a').krScrollTo();
        $('.demo-langsamer-mit-offset').krScrollTo({
            speed  : 0.25,  // Geschwindigkeit (Standard: 1)
            offset : 20    // Offset (Standard: 0)
        });

block script
    script.
        setTimeout(function(){
            $('.demo-normal li a').krScrollTo();
            $('.demo-langsamer-mit-offset').krScrollTo({
                speed  : 0.25,
                offset : 20
            });
        }, 500)
