$el: ".#{$prefix}button";

#{$el} {
  background-color: $button-background-color;
  border-radius   : 3px;
  border          : 1px solid $button-border-color;
  box-sizing      : border-box;
  color           : $button-color;
  cursor          : pointer;
  display         : inline-flex;
  font-family     : inherit;
  padding         : 4px 12px;
  text-align      : center;
  text-decoration : none;
  transition      : all .25s;
  user-select     : none;
  vertical-align  : middle;
  white-space     : nowrap;

  &:focus,
  &:hover {
    color           : $button-color;
    background-color: darken($button-background-color, 5%);
    box-shadow      : 0 0 3px rgba(black, 0.5);
  }

  &.-has-icon {
    @extend #{$el};
    display: inline-flex;
    align-items: center;

    > i[class*="fa-"] {
      margin-right: 12px;
    }
  }

  &.-has-icon-right {
    display: inline-flex;
    align-items: center;

    > i[class*="fa-"] {
      margin-left: 12px;
      order: 2;
    }
  }
}
