.kr-button {
  align-items: center;
  background-color: $button-background-color;
  border-radius: $button-border-radius;
  border: $button-border;
  box-sizing: border-box;
  color: $button-color;
  cursor: pointer;
  display: inline-flex;
  font-family: inherit;
  padding: 0.25rem 1rem;
  text-align: center;
  text-decoration: none;
  transition: all 0.25s;
  user-select: none;
  white-space: nowrap;
  box-shadow: $button-box-shadow;

  &:focus,
  &:hover {
    box-shadow: $button-hover-box-shadow;
  }
}
