.\$ {
  &hidden {
    display: none;
  }
  &invisible {
    opacity: 0;
    pointer-events: none;
  }
}

@each $size, $query in $mediaquery {
  @media #{$query} {
    .\$\@#{$size} {
      &hidden {
        display: none;
      }
      &invisible {
        opacity: 0;
        pointer-events: none;
      }
    }
  }
}
