.\$float-right.\$float-right {
  float: right;
}

.\$float-left.\$float-left {
  float: left;
}

.\$clear-left.\$clear-left {
  clear: left;
}

.\$clear-right.\$clear-right {
  clear: right;
}

.\$clear-both.\$clear-both {
  clear: both;
}
