extends ../../demo/_template

block title
    | KR-Nav

block example
    nav.kr-nav-main
        ul
            li
                a(href='#') First One
            li
                a(href='#') First Two
                ul
                    li
                        a(href='#') Second One
                    li
                        a(href='#') Second Two
                    li.-is-active
                        a(href='#') Second Three
            li
                a(href='#') First Three
            li
                a(href='#') First Four
                ul
                    li
                        a(href='#') Second Four
                    li
                        a(href='#') Second Five
                    li
                        a(href='#') Second Six
            li
                a(href='#') First Five

block additional
    h2 SCSS
    p Wenn die Navigation nicht verwendet wird, kann der CSS Code deaktiviert werden:
    code.
        $nav-main-enabled: 'false';

    p breakpoint manuell setzen:
    code.
        $nav-main-breakpoint: 768px;

    p.hint Wenn der Breakpoint manuell gesetzt wird, muss dieser auch in der JavaScript Instanz gesetzt werden.

    p Farben (optional):
    code.
        $nav-main-item-color                 : #fff;
        $nav-main-item-color-hover           : $nav-main-item-color;
        $nav-main-item-background-color      : #808080;
        $nav-main-item-background-color-hover: #9a9a9a;
        $nav-main-item-separator-color       : #333;

        $nav-main-burger-patty-color         : #333;

    h2 JavaScript
    code.
        <script>
            $('.kr-nav-main').krNav({
                closeOnResize: true,
                scroll: true,
                scrollOffset: 0,
                scrollSpeed: 600,
                slideSpeed: 'slow',
                breakpoint: 768
            });
        </script>

block script
    script.
        $('.kr-nav-main').krNav({
            closeOnResize: true,
            scroll: true,
            scrollOffset: 0,
            scrollSpeed: 600,
            slideSpeed: 'slow',
            breakpoint: 768
        });
