extends ../../demo/_template

block title
    | KR-Nav

block example
    nav#my-nav.kr-nav-main
        ul
            li
                a(href='#') First One
            li
                a(href='#') First Two
                ul
                    li
                        a(href='#') Second One
                    li
                        a(href='#') Second Two
                    li
                        a(href='#').-is-active Second Three
            li
                a(href='#') First Three
            li
                a(href='#') First Four
                ul
                    li
                        a(href='#') Second Four
                    li
                        a(href='#') Second Five
                    li
                        a(href='#') Second Six
            li
                a(href='#') First Five

block additional
    h2 SCSS

    code.
        $nav-main-enabled                       : 'true';        // Navigation SCSS Code aktivieren / deaktiveren

        $nav-main-active-class                  : "-is-active";  // Klassenname für aktive Elemente wählen (siehe Hinweis)
        $nav-main-breakpoint                    : 768px;         // Breakpoint für Burger-Menü (siehe Hinweis)

        $nav-main-item-1-color                  : #fff;
        $nav-main-item-1-color-hover            : $nav-main-item-1-color;
        $nav-main-item-1-color-active           : $nav-main-item-1-color;
        $nav-main-item-1-background-color       : #808080;
        $nav-main-item-1-background-color-hover : #9a9a9a;
        $nav-main-item-1-background-color-active: #9a9a9a;

        $nav-main-item-2-color                  : $nav-main-item-1-color;
        $nav-main-item-2-color-hover            : $nav-main-item-2-color;
        $nav-main-item-2-color-active           : $nav-main-item-2-color;
        $nav-main-item-2-background-color       : $nav-main-item-1-background-color;
        $nav-main-item-2-background-color-hover : $nav-main-item-1-background-color-hover;
        $nav-main-item-2-background-color-active: $nav-main-item-1-background-color-hover;

        $nav-main-item-separator                : 1px solid #333;

        $nav-main-burger-patty-color            : #333;

    p.hint Wenn der <b>$nav-main-breakpoint</b> und/oder <b>$nav-main-active-class</b> manuell gesetzt werden, muss dieser auch in der JavaScript Instanz gesetzt werden.

    h2 JavaScript
    code.
        $('#my-nav').krNav({
            closeOnResize: true
            scroll: true
            scrollOffset: 0
            scrollSpeed: 600
            slideSpeed: 'slow'
            activeClass: '-is-active'  // Klassenname für aktive Elemente wählen (siehe Hinweis)
            breakpoint: 768            // Breakpoint für Burger-Menü (siehe Hinweis)
        });

block script
    script.
        $('#my-nav').krNav();
