.Nav {
  // --- BAR ----------------------------------------------

  &.--bar {
    display: block;
    width: 80%;
    margin: {
      left: auto;
      right: auto;
    }
    background: map-get($color, wool);
    background: linear-gradient(
      90deg,
      transparent 0%,
      map-get($color, wool) 15%,
      map-get($color, wool) 85%,
      transparent 100%
    );

    // .-ul { }
    // .-li { }

    .-a {
      &.--hover {
        color: map-get($color, contour);
      }
    }

    .-ul-ul {
      background-color: map-get($color, wool-darker);
      // &.--visible {}
    }

    // .-li-li { }
    // .-a-a {
    //   &.--hover,
    //   &.--active {}
    // }
  }

  // --- SLIDE --------------------------------------------

  &.--slide {
    .-ul {
      background-color: map-get($color, contour);
    }

    // .-li { }

    .-a {
      color: white;
      transition: {
        property: border, background-color;
        duration: 666ms;
      }

      &.--hover,
      &.--active {
        background-color: white;
        color: map-get($color, contour);
      }
    }

    // .-ul-ul { }
    // .-li-li { }

    .-a-a {
      color: white;
      transition: {
        property: border, background-color;
        duration: 666ms;
      }

      &.--hover,
      &.--active {
        background-color: white;
        color: map-get($color, contour);
      }
    }
  }
}

.Burger {
  &.--active svg * {
    fill: white;
  }
}
