$color: (
  meteorite: #313282,
  haiti: #191345,
  water: #0088ce,
  arty: #ed0677,
  jeans: #a5cbec
);

@import 'mixins/button';
@import 'mixins/nav-slide';
@import 'mixins/nav-slide';
@import 'mixins/toplink';
