.XioniEventTile {
	background-color: transparent;
	box-shadow: 0 0 0.75rem rgba(0, 0, 0, 0.125);
	padding: 0;
}

.XioniEventTile__link {
	transform: translateY(-1rem);
}

.XioniEventTile__date {
	padding: 0 1rem 1rem;
	font-size: 0.9rem;
	border-bottom: 1px solid rgba(0, 0, 0, 0.075);
}

.XioniEventTile__description,
.XioniEventTile__title,
.XioniEventTile__link {
	padding-left: 1rem;
	padding-right: 1rem;
}
