:where(.NavBar) {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 1;
}

:where(.NavBar--sticky) {
  position: sticky;
  top: 0;
  transition: background-color 250ms;
}

:where(.NavBar--offset) {
  background-color: rgb(200, 200, 200);
}

// --- First Level ----------------------------------------

:where(.NavBar__ul) {
  @include reset-list;
  position: relative;
  display: flex;
  justify-content: center;
  height: 2.5rem;
}

:where(.NavBar__li) {
  position: relative;
  display: inherit;
  z-index: 0;
}

:where(.NavBar__a) {
  font-weight: bold;
  padding: 0.5rem 1rem;
  white-space: nowrap;
  text-decoration: none;
  transition: background-color 0.25s;
}

// --- Second Level ---------------------------------------

:where(.NavBar__ul-ul) {
  @include reset-list;
  left: 50%;
  position: absolute;
  top: 2.5rem;
  transform: translate(-50%, 0);
  z-index: -1;
  transition: transform 250ms, opacity 333ms;
  transition-delay: 50ms;
  background-color: rgb(225, 225, 225);

  &:not(.NavBar__ul-ul--visible) {
    transform: translate(-50%, 0.5rem);
    pointer-events: none;
    opacity: 0;
  }
}

:where(.NavBar__li-li) {
  display: flex;
}

:where(.NavBar__a-a) {
  font-size: 1rem;
  padding: 0.5rem 2rem;
  white-space: nowrap;
  width: 100%;
  text-decoration: none;
}
