:where(.NavBar) {
  width: 100%;
  display: flex;
  justify-content: center;
  clip-path: inset(0 -100vw -100vw -100vw);
  position: relative;
  z-index: 1;
}

// --- First Level ----------------------------------------

:where(.NavBar__ul) {
  @include reset-list;
  position: relative;
  display: flex;
  justify-content: center;
  height: 2.5rem;
}

:where(.NavBar__li) {
  position: relative;
  display: inherit;
  z-index: 0;
}

:where(.NavBar__a) {
  font-weight: bold;
  padding: 0.5rem 1rem;
  white-space: nowrap;
  background-color: rgb(200, 200, 200);
  text-decoration: none;
  transition: background-color 0.25s;
}

:where(.NavBar__a--hover) {
  background-color: rgb(225, 225, 225);
}

// --- Second Level ---------------------------------------

:where(.NavBar__ul-ul) {
  @include reset-list;
  left: 50%;
  position: absolute;
  top: 2.5rem;
  transform: translate(-50%, 0);
  background-color: rgb(200, 200, 200);
  z-index: -1;
  transition: transform 500ms, opacity 500ms;
  transition-delay: 125ms;

  &:not(.NavBar__ul-ul--visible) {
    transform: translate(-50%, -0.5rem);
    pointer-events: none;
    opacity: 0;
  }
}

:where(.NavBar__li-li) {
  display: flex;
}

:where(.NavBar__a-a) {
  font-size: 1rem;
  padding: 0.5rem 2rem;
  white-space: nowrap;
  width: 100%;
  text-decoration: none;
}

.NavBar__li:has(.NavBar__ul-ul) {
  background-color: lime !important;
}
