extends ../demo/_template

block title
    | KR-Scroll To (smooth scroll)

block style
    style.
        #preview {
            max-width: 500px;
            margin: 0 auto;
        }

block example

    p.hint Bitte runter scollen!
    h1(style="margin:10vh 0")#erste Hier Headline mit ID #erste
    h2(style="margin:10vh 0").zweite Hier Subline mit Klasse .zweite

    div(style="height:60vh")
        // Abstandhalter

    .h-text-center
        p
            span.h-cursor-pointer(data-kr-scroll-to="#erste") &uarr; Scrolle zu #erste
        p
            span.h-cursor-pointer(data-kr-scroll-to=".zweite") &uarr; Scrolle zu .zweite
        p
            span.h-cursor-pointer(data-kr-scroll-to="{ 'target' : '.zweite', 'factor' : 5 }") &uarr; Scrolle zu .zweite gaaaaanz langsam
        p
            span.h-cursor-pointer(data-kr-scroll-to="{ 'target' : '#erste', 'offset' : 20 }") &uarr; Scrolle zu #erste mit 20 Pixel Versatz

block additional
    hr
    h2 Optionen
    p
        | Das Attribut <span class="code">data-kr-scroll-to=""</span> kann direkt mit einer <b>ID</b> oder einer <b>Klasse</b> gefüttert werden.
        br
        | Optional kann ein <a href="https://de.wikipedia.org/wiki/JavaScript_Object_Notation#Beispiel" target="_blank">JSON Objekt</a> (wie oben gezeigt) eingesetzt werden um weitere Parameter zu setzen:

    h3 Parameter

    h4 Target
    p.h-font-small Typ:&nbsp;
        span.code string
        br
    p.h-margin-negative-top
        span Das Ziel zu dem gescrollt werden soll


    h4 Factor
    p.h-font-small Typ:&nbsp;
        span.code Integer
        br
        | Standard:&nbsp;
        span.code 1

    p.h-margin-negative-top
        span Multiplikator der Scroll-Geschwindigkeit


    h4 Offset
    p.h-font-small Typ:&nbsp;
        span.code Integer
        br
        | Standard:&nbsp;
        span.code 0

    p.h-margin-negative-top
        span Zusätztliche scroll Strecke (Kann auch negativ sein)
