extends ../../demo/_template

block title
    | XIONI-News (Übersicht und Details)

block style
    style.
        #preview {
            max-width:960px;
            margin: 0 auto;
        }

        article {
            display: inline-block;
            border-radius: 20px;
            padding: 10px 40px;
            box-shadow: 0 0 40px #999;
        }

        article + article {
            margin-top: 40px;
        }

block example
    section(data-xioni="news.1383")
        // * * * * * * *  
        // * ÜBERSICHT * 
        // * * * * * * * 
        div(v-if='!details')
            article(v-for="article in items")
                h2 {{ article.title }}
                .h-margin-negative-top.h-font-italic.h-font-small
                    time(:datetime="dateFormat(article.date, 'L')") Am {{ dateFormat(article.date) }}
                    span , von {{ article.author }}
                .pure-g.pure-padded-children
                    .pure-u-1.pure-u-md-1-3(v-if="article.image")
                        figure
                            img.pure-img(:src="urlBase + article.image")
                            figcaption(v-if="article.imageDescription") {{ article.imageDescription }}

                    .pure-u-1(:class="{ 'pure-u-md-2-3' : article.image }")
                        div(v-html="textile(article.text)")
                        p
                            a.h-font-small(@click="goTo(article.id)", :title="article.title") … mehr zu {{ article.title }}

        // * * * * * * 
        // * DETAILS * 
        // * * * * * * 
        article(v-else)
            h2 {{ details.title }}
            .pure-g.pure-padded-children.h-margin-negative-bottom
                .pure-u-1(:class="{ 'pure-u-md-2-3' : details.image }", v-html="textile(details.text)")
                .pure-u-1.pure-u-md-1-3(v-if="details.image")
                    figure
                        img.pure-img(:src="urlBase + details.image")
                        figcaption(v-if="details.imageDescription") {{ details.imageDescription }}

            .pure-g.pure-padded-children(v-for="paragraph in details.paragraphs")
                figure.pure-u-1(v-if="paragraph.image", :class="{ 'pure-u-md-1-4' : paragraph.text }")
                    img(:alt="paragraph.imageDescription", :src="urlBase + paragraph.image")
                    figcaption(v-if="paragraph.imageDescription") {{ paragraph.imageDescription }}

                .pure-u-1(v-if="paragraph.text", v-html="textile(paragraph.text)", :class="{ 'pure-u-md-3-4' : paragraph.image }")

            p(v-if="details.pdf")
                i.fa.fa-lg.fa-file-pdf-o(aria-hidden="true")
                    a(:href="urlBase + details.pdf", target="_blank") {{ details.pdfTitle }}

block additional
    h2 Parameter Option
    p Über das Parameter Attribut können beliebig viele Date im JSON Format übergeben werden.
    code.
        <section data-xioni="news.123" data-params="{ 'chef' : 'Frank Förster', 'gehilfe' : 'Felix Heidecke' }">
            […]
            <p>
                Chef: {{ params.chef }}<br>
                Gehilfe: {{ params.gehilfe }}
            </p>
        </section>
