@mixin aspect-ratio($width, $height) {
	position: relative;
	width   : 100%;
	height  : 100%;

	&:before {
		display    : block;
		content    : "";
		width      : 100%;
		padding-top: $height / $width * 100%;
	}

	> * {
		position: absolute;
		top     : 0;
		left    : 0;
		right   : 0;
		bottom  : 0;
	}
}

.h-aspect-ratio {
	&-1 {
		@include aspect-ratio(1, 1);
	}

	&-16-9 {
		@include aspect-ratio(16, 9);
	}

	&-16-10 {
		@include aspect-ratio(16, 10);
	}

	@for $w from 1 through 4 {
		&-#{$w} {
			@for $h from 1 through 4 {
				@if $w != $h {
					&-#{$h} {
						@include aspect-ratio($w, $h);
					}
				}
			}
		}
	}
}
