extends ../../demo/_template

block title
    | KR Link external

block example
    main
        article
            p Willkommen auf <a href="http://klickrhein.de">Klickrein.de</a>! Ihrer lieblings Webseite im Rheingau.


block additional
    h4 Initialisieren
    p Findet Links innerhalb von &lt;main&gt;
    code.
        $('main').krLinkExternal();

block script
    script.
        $('main').krLinkExternal();