extends ../../demo/_template

block title
    | KR Link external

block example
    article
        p Willkommen auf <a href="http://klickrhein.de">Klickrein.de</a>! Ihrer lieblings Webseite im Rheingau.