extends ../../demo/_template

block title
    | KR-Section

block example
    .h-aspect-ratio-4-1
        .pure-g.pure-padded-children-halved
            .pure-u-1-3
                .h-relative(data-h-background="https://picsum.photos/600")
            .pure-u-2-3
                .h-relative(data-h-background="https://picsum.photos/900")
    .h-aspect-ratio-4-1.h-margin-top
        .pure-g.pure-padded-children-halved
            .pure-u-1-3
                .h-relative(data-h-background="https://picsum.photos/601")
            .pure-u-1-3
                .h-relative(data-h-background="https://picsum.photos/602")
            .pure-u-1-3
                .h-relative(data-h-background="https://picsum.photos/603")
    .h-aspect-ratio-4-1.h-margin-top
        .pure-g.pure-padded-children-halved
            .pure-u-1-2
                .h-relative(data-h-background="https://picsum.photos/604")
            .pure-u-1-2
                .h-relative(data-h-background="https://picsum.photos/605")
