*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  @include breakpoint('mobile') {
    font-size: 14px;
  }

  @include breakpoint('tablet-up') {
    font-size: 16px;
  }
}

body {
  @include reset;
  overflow-x: hidden;
  background: #fff;
  width: 100vw;
  color: #222;
}

a,
a:hover,
a:active {
  color: currentColor;
}

abbr {
  cursor: help;
}

// -------------------------------------------------------------- BLOCKQOUTE ---

blockquote {
  margin: 1rem 0;
  padding: 0.01px 1rem;
  background: lightgray;

  @include breakpoint('tablet-up') {
    margin: {
      left: 2rem;
      right: 2rem;
    }
  }
}

// ------------------------------------------------- IMAGE, FIGURE & CAPTION ---

:where(img) {
  width: 100%;
  height: auto;
  max-width: fit-content;
}
