.h-order {
	@for $i from 1 through 4 {
		&-#{$i} {
			order: $i;
		}
		@each $bp in $breakpoints {
			$bps: str-replace($bp, ' ', "-");
			@include breakpoint($bp) {
				&-#{$bps}-#{$i} {
					order: $i;
				}
			}
		}
	}
}
